# Mengabaikan Virtual Environment lokal Mac
.venv/
env/
venv/
__pycache__/
*.pyc

# Mengabaikan Database SQLite lokal (Agar password admin & pesan tidak bocor)
instance/
*.db

# Mengabaikan file sistem Mac OS
.DS_Store

# Mengabaikan file environment keys (jika ada)
.env